/* CSS Reset  */
*,
*::before,
*::after {
	padding: 20px;
	margin: 10px;
	box-sizing: border-box;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
input,
button,
textarea,
select {
	font: inherit;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
