
body{
  background-color: #8080b8; /* สีพื้นหลัง */
  font-family: "Prompt", sans-serif;
  display: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.color-selector {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 1rem;
    position: relative;
}

.color {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3.5px solid #555;
    cursor: pointer;
}

.color.white {
    background-color: #fff;
}
.color.blue {
    background-color: #1f375b;
}

.slider{
    position: relative;
    width: 590px;
    height: 420px;
    margin: 6rem 6rem;
    background-image: url(HD-wallpaper-dark-purple-blue-waves-dark-purple.jpg);
    border: 3px solid rgb(42, 123, 230);
    border-radius: 35px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    opacity: 0;
    animation: fade 7.5s infinite;

}


.slide1{
    background-image: url(msi-stealth14-kv-blue.png);
    animation-delay: -1.32s;
}

.slide2{
    background-image: url(msi-stealth14-kv-white.png);
    animation-delay: 2.15s;
}
@keyframes fade {
25%, 50%{
    opacity: 1;
}
75%, 100%{
    opacity: 0;
}

0%{
    opacity: 0;
}
}

